# Binário compilado
/codectx
codectx-linux-amd64

# Binários de teste
tests/test_runner
tests/test_runner_san

# Diretórios temporários de teste
codectx_test_tmp_*

# Arquivos de objeto (se o seu Makefile gerar no futuro)
*.o

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Pastas de IDEs/Editores
.vscode/
.idea/